body{
    padding: 50px 100px;
}
h1{
    text-align: center;
    background-color: lightblue;
    color: black;
    padding: 10px;
    margin: 0;
}
textarea{
    width: 99.5%;
    border-radius: 4px;
    border-color: lightblue;
}
p{
    text-align: center;
    background-color: lightblue;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}